<div class="main-content">
    <div class="card">
        <div class="header">
            <h3 class="title">Saisie Commande Fournisseur</h3>
            <hr/>
        </div>
        <div class="content">
                <h4 class="title">Commande</h4>
                <form [formGroup]="commandeForm" (submit)="onSubmitCommande()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>N° Commande</label>
                                <input type="text" class="form-control" formControlName="numeroCommande">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date Commande</label>
                                <input type="date" class="form-control" formControlName="dateCommande">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Date Arrivée</label>
                                <input type="date" class="form-control" formControlName="dateArrive">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Magasin</label>
                                <select class="form-control" formControlName="magasins">
                                    <option *ngFor="let item of magasins;" value="item">
                                        {{ item.nomMagasin }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <!--###################################################################-->
                <h4 class="title">Fournisseur</h4>
                <form [formGroup]="fournisseurForm" (submit)="onSubmitFournisseur()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Code</label>
                                <input type="text" class="form-control" formControlName="codeFournisseur">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" formControlName="nomFournisseur">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Téléphone</label>
                                <input type="text" class="form-control" formControlName="telephoneFournisseur">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" (click)="onFournisseurs()">
                                <i class="fa fa-user-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
                <!--###################################################################-->
                <h4 class="title">Article</h4>
                <form [formGroup]="articleForm" (submit)="onSubmitArticle()">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Réference</label>
                                <input type="text" class="form-control" formControlName="referenceArticle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Désignation</label>
                                <input type="text" class="form-control" formControlName="designationArticle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>TVA %</label>
                                <input type="text" class="form-control" formControlName="tvaArticle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger" (click)="onArticles()">
                                <i class="fa fa-suitcase" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <!--Row 2-->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Quantité</label>
                                <input type="text" class="form-control" formControlName="quantiteArticle" (keyup)="onQuantite()">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Prix HT &nbsp;&nbsp;
                                    <input type="radio" style="float: right;">
                                </label>
                                <input type="number" class="form-control" formControlName="prixHTArticle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Prix TTC &nbsp;&nbsp;
                                    <input type="radio" style="float: right;">
                                </label>
                                <input type="number" class="form-control" formControlName="prixTTCArticle">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Montant Total</label>
                                <input type="number" class="form-control" formControlName="montantTotalArticle">
                            </div>
                        </div>
                    </div>
                </form>
                <!--###################################################################-->
                <div class="row text-center">
                    <button class="btn btn-danger btn-lg">
                        Valider
                    </button>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Réf Article</th>
                                <th>Désignation</th>
                                <th>Quantité</th>
                                <th>Prix HT</th>
                                <th>TVA</th>
                                <th>Prix TTC</th>
                                <th>Montant TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>


