<h2 mat-dialog-title>Liste des Fournisseurs</h2>
<mat-dialog-content class="mat-typography">
   <div class="row">
       <div class="col-md-6">
           <div class="form-group">
               <label>Search</label>
               <input type="text" class="form-control" id="searchInput" (keyup)="onSearch()">
           </div>
       </div>
   </div>
    <div class="main-content" style="margin-top: 2%;">
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Id Fournisseur</th>
                            <th>Nom</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of fournisseurs;" (click)="onSelect(item)">
                            <td>{{item.idFournisseur}}</td>
                            <td>{{item.nom}}</td>
                            <td>{{item.telephone}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</mat-dialog-content>
