<h2 mat-dialog-title>Liste des Articles</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Search</label>
                <input type="text" class="form-control" id="searchInput" (keyup)="onSearch()">
            </div>
        </div>
    </div>
    <div class="main-content">
        <div class="card">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Réf Article</th>
                            <th>Désignation</th>
                            <th>Prix Achat</th>
                            <th>Prix Vente</th>
                            <th>Prix Vente Min</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of articles;" (click)="onSelect(item)">
                            <td>{{item.refArticle}}</td>
                            <td>{{item.designation}}</td>
                            <td>{{item.prixAchatTtc}}</td>
                            <td>{{item.prixVenteArticleTtc}}</td>
                            <td>{{item.prixMinTtc}}</td>
                        </tr>
                    </tbody>
                </table>
                <mat-spinner *ngIf="articles.length === 0"></mat-spinner>
            </div>
        </div>
    </div>
</mat-dialog-content>
